:root {
    --color-primary: #eb2f64;
    --color-primary-light: #ff3366;
    --color-primary-dark: #ba265d;
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    box-sizing: inherit;
  }
  @media (min-width: 376px) {
    html {
      width: 100%;
    }
  }
  
  body {
    min-height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main {
    min-height: 100vh;
    background-color: 100vh;
  }
  
  .heading-2 {
    font-weight: 700;
    font-family: "Big Shoulders Display", cursive;
    font-size: 2.8rem;
    color: hsl(0deg, 0%, 95%);
  }
  
  .heading-3 {
    font-weight: 400;
    font-family: "Lexend Deca", sans-serif;
  }
  
  .btn {
    padding: 0.9rem 2rem;
    border-radius: 100px;
    background-color: #fff;
    border: none;
    backface-visibility: hidden;
  }
  .btn-1 {
    color: hsl(31deg, 77%, 52%);
  }
  .btn-2 {
    color: hsl(184deg, 100%, 22%);
  }
  .btn-3 {
    color: hsl(179deg, 100%, 13%);
  }
  .btn:hover {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid hsl(0deg, 0%, 95%);
    color: hsl(0deg, 0%, 95%);
  }
  
  .mb-sm {
    margin-bottom: 2rem;
  }
  
  .mb-md {
    margin-bottom: 2.5rem;
  }
  
  .mb-lg {
    margin-bottom: 6rem;
  }
  
  .mt-top {
    margin-top: 2rem;
  }
  
  .mt-md {
    margin-top: 3rem;
  }
  
  .mt-lg {
    margin-top: 6rem;
  }
  
  .link {
    color: #fff;
  }
  
  .card {
    width: 68rem;
    height: 35rem;
    box-shadow: var(--shadow-dark);
    border-radius: 6px;
    display: flex;
  }
  .card__icon {
    fill: green;
    width: 5rem;
    height: 5rem;
  }
  .card__text {
    color: hsla(0deg, 0%, 100%, 0.75);
    width: 80%;
    line-height: 1.6;
  }
  .card__sub {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 1.5rem;
    width: 100%;
  }
  .card-1 {
    background-color: hsl(31deg, 77%, 52%);
    border-radius: 6px 0 0 6px;
  }
  .card-2 {
    background-color: hsl(184deg, 100%, 22%);
  }
  .card-3 {
    background-color: hsl(179deg, 100%, 13%);
    border-radius: 0 6px 6px 0;
  }
  
  .grid-item-1 {
    background-color: #f37328;
    grid-row: 1/4;
    grid-column: 1/4;
  }
  .grid-item-2 {
    background-color: #efa11a;
    grid-row: 1/4;
    grid-column: 4/6;
  }
  .grid-item-3 {
    background-color: green;
    grid-row: 4/6;
    grid-column: 1/3;
  }
  .grid-item-4 {
    background-color: #5673ec;
    grid-row: 4/5;
    grid-column: 3/-1;
  }
  .grid-item-5 {
    background-color: #5673ec;
    grid-row: 5/6;
    grid-column: 3/-1;
  }
  
  .container {
    min-height: 50rem;
    width: 95rem;
    background-color: hsl(0deg, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .grid-container {
    min-height: 50rem;
    width: 75rem;
    background-color: #234d80;
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 2rem;
  }
  